/* estilização da imagem do paciente */
main figure{
    width: 100%;
    height: 500px;
    margin-top: 30px;
}
main figure img{
    width: 100%;
    height: 500px;
    object-fit: cover;
}


/* fim da estilização da imagem do paciente */