.modal{
    top: 0;
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: #23232355;
    display: flex;
    justify-content: center;
    align-items: center;
}
 
.modal   button{
  top: 15px;
  cursor: pointer;
  left: 850px;  
  position: fixed;
  border: none;
  background-color: transparent;
  font-size: 30px;
}